.flip-card-back p {
    color: black;
    font-style: italic;
}

.flip-card-front, .flip-card-back, .flip-card, .flip-car-inner{
    border-radius: 30px;
}

#heroBanner{
    background-color: rgb(0, 159, 227) !important;
}

#home{
    background-color: rgb(0, 159, 227) !important;
}
#secondaryColor{
    background-color: #0c8318;
}
#register:hover {
    background-color: rgb(0, 159, 227) !important;
    border: none;
}
#heroBannerO{
    background-color: rgba(0, 159, 227, 0.4)
}
/* The actual timeline (the vertical ruler) */
.main-timeline {
    position: relative;
    background-color: white;
    /* border-bottom: rgb(0, 159, 227) solid 5px; */
    }
    
    
    /* The actual timeline (the vertical ruler) */
    .main-timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #F3F4FE;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    }
    
    /* Container around content */
    .timeline {
    position: relative;
    background-color: inherit;
    width: 50%;
    }
    
    /* The circles on the timeline */
    .timeline::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: #D9DFF9;
    border: 5px solid #F3F4FE;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    }
    
    /* Place the container to the left */
    .left {
    padding: 0px 40px 20px 0px;
    left: 0;
    text-align: right;
    }
    
    /* Place the container to the right */
    .right {
    padding: 0px 0px 20px 40px;
    left: 50%;
    }
    
    /* Add arrows to the left container (pointing right) */
    .left::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
    }
    
    /* Add arrows to the right container (pointing left) */
    .right::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
    
    /* Fix the circle for containers on the right side */
    .right::after {
    left: -12px;
    }
    
    /* Media queries - Responsive timeline on screens less than 600px wide */
    @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .main-timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .timeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .timeline::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
    
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 18px;
    }
    
    .left::before {
    right: auto;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }
    }
    #teamHeader{
      font-size: 150% !important;
      color: #0c8318; font-weight: bolder;
    }



    .wrap {
        overflow: hidden;
        margin: 10px;
      margin-left: auto;
      margin-right: auto;
    }
    .box {
        float: left;
        position: relative;
        width: 20%;
        padding-bottom: 20%;
    }
    
    .boxInner {
        position: absolute;
        left: 10px;
        right: 10px;
        top: 10px;
        bottom: 10px;
        overflow: hidden;
    }
     .boxInner img { width: 100% }
    
    
    @media only screen and (max-width:480px) { 
        /* Smartphone view: 1 tile */
        .box {
            width: 100%;
            padding-bottom: 100%;
        }
    }
    @media only screen and (max-width:650px) and (min-width:481px) { 
        /* Tablet view: 2 tiles */
        .box {
            width: 50%;
            padding-bottom: 50%;
        }
    }
    @media only screen and (max-width:1050px) and (min-width:651px) { 
        /* Small desktop / ipad view: 3 tiles */
        .box {
            width: 33.3%;
            padding-bottom: 33.3%;
        }
    }
    @media only screen and (max-width:1290px) and (min-width:1051px) { 
        /* Medium desktop: 4 tiles */
        .box {
            width: 25%;
            padding-bottom: 25%;
        }
    }
    body {
        font-family: Arial, Helvetica, sans-serif;
      }
      
      .flip-card {
        background-color: transparent;
        width: 300px;
        height: 300px;
        perspective: 1000px;
        margin: 0.75em;
      }
      
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        border-radius: 30px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      }
      
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      
      .flip-card-front {
        background-color: #f4f4f4;
        color: black;
      }
      
      .flip-card-back {
        background-color: #edeefe;
        transform: rotateY(180deg);
          padding: 3%;
          display: flex;
          justify-content: center;
          align-items: center;
      }
      strong{
        color: #0c8318;
      }
      #dateSpan{
        background-color: #0c8318;
      }
      #timelineHeader{
        font-size: 130%;
        color: #009FE3;
        font-weight: bold;
      }

.checkBoxSelectionBox{
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.radio_wrapper, .duration_radio_wrapper{
    display: inline-flex;
    background: #fff;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding: 2vh 0vw;
}
.radio_wrapper .option, .duration_radio_wrapper .option{
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
}
.radio_wrapper .option .dot, .duration_radio_wrapper .option .dot{
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
}
.radio_wrapper .option .dot::before, .duration_radio_wrapper .option .dot::before{
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: rgb(0, 159, 227);
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
}
input[type="radio"]{
    display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2,
#duration_option-1:checked:checked ~ .duration_option-1,
#duration_option-2:checked:checked ~ .duration_option-2{
    border-color: rgb(0, 159, 227);
    background: rgb(0, 159, 227);
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot,
#duration_option-1:checked:checked ~ .duration_option-1 .dot,
#duration_option-2:checked:checked ~ .duration_option-2 .dot{
    background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before,
#duration_option-1:checked:checked ~ .duration_option-1 .dot::before,
#duration_option-2:checked:checked ~ .duration_option-2 .dot::before{
    opacity: 1;
    transform: scale(1);
}
.wrapper .option span{
    font-size: 20px;
    color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span,
#duration_option-1:checked:checked ~ .duration_option-1 span,
#duration_option-2:checked:checked ~ .duration_option-2 span{
    color: #fff;
}


  
  .select-box {
    display: flex;
    width: 400px;
    flex-direction: column;
  }
  
  .select-box .options-dropdown-container {
    background: #009fe3;
    color: #f5f6fa;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
  
    order: 1;
  }
  
  .selected {
    background: #009fe3;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;
  
    order: 0;
  }
  
  .selected::after {
    content: "";
    background: url("../images/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
  
    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;
  
    transition: all 0.4s;
  }
  
  .select-box .options-dropdown-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
  }
  
  .select-box .options-dropdown-container.active + .selected::after {
    transform: rotateX(180deg);
    top: -6px;
  }
  
  .select-box .options-dropdown-container::-webkit-scrollbar {
    width: 8px;
    background: #009fe3;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box .options-dropdown-container::-webkit-scrollbar-thumb {
    background: #009fe3;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box .option,
  .selected {
    padding: 12px 24px;
    cursor: pointer;
  }
  
  .select-box .option:hover {
    background: #009fe3;
  }
  
  .select-box label {
    cursor: pointer;
  }
  
  .select-box .option .radio {
    display: none;
  }
  