@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*
! tailwindcss v3.0.16 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/

html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/*
Ensure the default browser behavior of the `hidden` attribute.
*/

[hidden] {
  display: none;
}

*, ::before, ::after{
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.container{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
}

@media (min-width: 540px){
  .container{
    max-width: 540px;
  }
}

@media (min-width: 720px){
  .container{
    max-width: 720px;
  }
}

@media (min-width: 960px){
  .container{
    max-width: 960px;
  }
}

@media (min-width: 1140px){
  .container{
    max-width: 1140px;
  }
}

@media (min-width: 1320px){
  .container{
    max-width: 1320px;
  }
}

.visible{
  visibility: visible;
}

.fixed{
  position: fixed;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.sticky{
  position: sticky;
}

.top-0{
  top: 0px;
}

.left-0{
  left: 0px;
}

.right-4{
  right: 1rem;
}

.top-1\/2{
  top: 50%;
}

.top-full{
  top: 100%;
}

.bottom-8{
  bottom: 2rem;
}

.right-8{
  right: 2rem;
}

.left-auto{
  left: auto;
}

.bottom-0{
  bottom: 0px;
}

.right-0{
  right: 0px;
}

.z-40{
  z-index: 40;
}

.z-20{
  z-index: 20;
}

.z-10{
  z-index: 10;
}

.z-\[999\]{
  z-index: 999;
}

.z-\[-1\]{
  z-index: -1;
}

.-mx-4{
  margin-left: -1rem;
  margin-right: -1rem;
}

.my-\[6px\]{
  margin-top: 6px;
  margin-bottom: 6px;
}

.mx-8{
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.-mx-3{
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.my-1{
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.mx-4{
  margin-left: 1rem;
  margin-right: 1rem;
}

.mb-8{
  margin-bottom: 2rem;
}

.mb-10{
  margin-bottom: 2.5rem;
}

.mb-\[60px\]{
  margin-bottom: 60px;
}

.mb-4{
  margin-bottom: 1rem;
}

.mr-5{
  margin-right: 1.25rem;
}

.mr-4{
  margin-right: 1rem;
}

.mr-3{
  margin-right: 0.75rem;
}

.mb-6{
  margin-bottom: 1.5rem;
}

.mb-7{
  margin-bottom: 1.75rem;
}

.mb-9{
  margin-bottom: 2.25rem;
}

.mb-2{
  margin-bottom: 0.5rem;
}

.mt-12{
  margin-top: 3rem;
}

.mt-\[6px\]{
  margin-top: 6px;
}

.mb-12{
  margin-bottom: 3rem;
}

.mb-5{
  margin-bottom: 1.25rem;
}

.mb-3{
  margin-bottom: 0.75rem;
}

.mb-1{
  margin-bottom: 0.25rem;
}

.mb-0{
  margin-bottom: 0px;
}

.ml-4{
  margin-left: 1rem;
}

.mr-10{
  margin-right: 2.5rem;
}

.mr-6{
  margin-right: 1.5rem;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}

.flex{
  display: flex;
}

.inline-flex{
  display: inline-flex;
}

.hidden{
  display: none;
}

.h-\[2px\]{
  height: 2px;
}

.h-\[300px\]{
  height: 300px;
}

.h-full{
  height: 100%;
}

.h-10{
  height: 2.5rem;
}

.h-3{
  height: 0.75rem;
}

.h-\[70px\]{
  height: 70px;
}

.h-14{
  height: 3.5rem;
}

.h-\[1px\]{
  height: 1px;
}

.h-1\/2{
  height: 50%;
}

.w-full{
  width: 100%;
}

.w-60{
  width: 15rem;
}

.w-\[30px\]{
  width: 30px;
}

.w-10{
  width: 2.5rem;
}

.w-3{
  width: 0.75rem;
}

.w-\[70px\]{
  width: 70px;
}

.w-14{
  width: 3.5rem;
}

.w-8{
  width: 2rem;
}

.w-\[170px\]{
  width: 170px;
}

.w-\[330px\]{
  width: 330px;
}

.max-w-full{
  max-width: 100%;
}

.max-w-\[250px\]{
  max-width: 250px;
}

.max-w-\[780px\]{
  max-width: 780px;
}

.max-w-\[600px\]{
  max-width: 600px;
}

.max-w-\[40px\]{
  max-width: 40px;
}

.max-w-\[160px\]{
  max-width: 160px;
}

.max-w-\[120px\]{
  max-width: 120px;
}

.max-w-\[620px\]{
  max-width: 620px;
}

.max-w-\[140px\]{
  max-width: 140px;
}

.-translate-y-1\/2{
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-45{
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-\[25deg\]{
  --tw-rotate: 25deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-180{
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.resize-none{
  resize: none;
}

.resize{
  resize: both;
}

.flex-wrap{
  flex-wrap: wrap;
}

.items-end{
  align-items: flex-end;
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.overflow-hidden{
  overflow: hidden;
}

.scroll-smooth{
  scroll-behavior: smooth;
}

.rounded-lg{
  border-radius: 0.5rem;
}

.rounded{
  border-radius: 0.25rem;
}

.rounded-full{
  border-radius: 9999px;
}

.rounded-md{
  border-radius: 0.375rem;
}

.rounded-2xl{
  border-radius: 1rem;
}

.rounded-xl{
  border-radius: 0.75rem;
}

.rounded-tr-full{
  border-top-right-radius: 9999px;
}

.rounded-bl-full{
  border-bottom-left-radius: 9999px;
}

.border{
  border-width: 1px;
}

.border-0{
  border-width: 0px;
}

.border-t{
  border-top-width: 1px;
}

.border-l{
  border-left-width: 1px;
}

.border-b{
  border-bottom-width: 1px;
}

.border-\[\#F3F4FE\]{
  --tw-border-opacity: 1;
  border-color: rgb(243 244 254 / var(--tw-border-opacity));
}

.border-white{
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.border-\[\#009FE3\]{
  --tw-border-opacity: 1;
  border-color: rgb(0 159 227 / var(--tw-border-opacity));
}

.border-primary{
  --tw-border-opacity: 1;
  border-color: rgb(48 86 211 / var(--tw-border-opacity));
}

.border-\[\#f1f1f1\]{
  --tw-border-opacity: 1;
  border-color: rgb(241 241 241 / var(--tw-border-opacity));
}

.border-opacity-40{
  --tw-border-opacity: 0.4;
}

.border-opacity-20{
  --tw-border-opacity: 0.2;
}

.bg-transparent{
  background-color: transparent;
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-primary{
  --tw-bg-opacity: 1;
  background-color: rgb(48 86 211 / var(--tw-bg-opacity));
}

.bg-black{
  --tw-bg-opacity: 1;
  background-color: rgb(33 43 54 / var(--tw-bg-opacity));
}

.bg-\[\#f3f4ff\]{
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 255 / var(--tw-bg-opacity));
}

.bg-\[\#f3f4fe\]{
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 254 / var(--tw-bg-opacity));
}

.bg-\[\#afb2b5\]{
  --tw-bg-opacity: 1;
  background-color: rgb(175 178 181 / var(--tw-bg-opacity));
}

.bg-opacity-5{
  --tw-bg-opacity: 0.05;
}

.bg-opacity-20{
  --tw-bg-opacity: 0.2;
}

.bg-gradient-to-t{
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
}

.bg-gradient-to-b{
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}

.from-dark-700{
  --tw-gradient-from: #090e34b3;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(9 14 52 / 0));
}

.from-primary{
  --tw-gradient-from: #3056D3;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(48 86 211 / 0));
}

.to-transparent{
  --tw-gradient-to: transparent;
}

.to-\[\#179BEE\]{
  --tw-gradient-to: #179BEE;
}

.fill-current{
  fill: currentColor;
}

.object-cover{
  -o-object-fit: cover;
     object-fit: cover;
}

.object-center{
  -o-object-position: center;
     object-position: center;
}

.p-4{
  padding: 1rem;
}

.p-5{
  padding: 1.25rem;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-5{
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.px-3{
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-\[6px\]{
  padding-top: 6px;
  padding-bottom: 6px;
}

.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-8{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-1{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-11{
  padding-left: 2.75rem;
  padding-right: 2.75rem;
}

.py-10{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.px-8{
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-0{
  padding-top: 0px;
  padding-bottom: 0px;
}

.py-20{
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.pt-\[120px\]{
  padding-top: 120px;
}

.pt-20{
  padding-top: 5rem;
}

.pb-10{
  padding-bottom: 2.5rem;
}

.pb-4{
  padding-bottom: 1rem;
}

.pl-\[62px\]{
  padding-left: 62px;
}

.pb-8{
  padding-bottom: 2rem;
}

.pb-12{
  padding-bottom: 3rem;
}

.pb-20{
  padding-bottom: 5rem;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-\[26px\]{
  font-size: 26px;
}

.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-\[28px\]{
  font-size: 28px;
}

.text-\[35px\]{
  font-size: 35px;
}

.text-\[32px\]{
  font-size: 32px;
}

.font-bold{
  font-weight: 700;
}

.font-medium{
  font-weight: 500;
}

.font-semibold{
  font-weight: 600;
}

.font-normal{
  font-weight: 400;
}

.uppercase{
  text-transform: uppercase;
}

.leading-snug{
  line-height: 1.375;
}

.leading-relaxed{
  line-height: 1.625;
}

.leading-loose{
  line-height: 2;
}

.text-dark{
  --tw-text-opacity: 1;
  color: rgb(9 14 52 / var(--tw-text-opacity));
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-blue{
  --tw-text-opacity: 1;
  color: rgb(48 86 211 / var(--tw-text-opacity));
}

.text-\[\#e4e4e4\]{
  --tw-text-opacity: 1;
  color: rgb(228 228 228 / var(--tw-text-opacity));
}

.text-primary{
  --tw-text-opacity: 1;
  color: rgb(48 86 211 / var(--tw-text-opacity));
}

.text-black{
  --tw-text-opacity: 1;
  color: rgb(33 43 54 / var(--tw-text-opacity));
}

.text-body-color{
  --tw-text-opacity: 1;
  color: rgb(99 115 129 / var(--tw-text-opacity));
}

.text-\[\#f3f4fe\]{
  --tw-text-opacity: 1;
  color: rgb(243 244 254 / var(--tw-text-opacity));
}

.text-\[\#dddddd\]{
  --tw-text-opacity: 1;
  color: rgb(221 221 221 / var(--tw-text-opacity));
}

.shadow-lg{
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-md{
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-pricing{
  --tw-shadow: 0px 39px 23px -27px rgba(0, 0, 0, 0.04);
  --tw-shadow-colored: 0px 39px 23px -27px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-testimonial{
  --tw-shadow: 0px 60px 120px -20px #EBEFFD;
  --tw-shadow-colored: 0px 60px 120px -20px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.ring-primary{
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(48 86 211 / var(--tw-ring-opacity));
}

.grayscale{
  --tw-grayscale: grayscale(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition{
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-300{
  transition-duration: 300ms;
}

.ease-in-out{
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Inter", sans-serif;
}

.sticky{
  position: fixed;
  z-index: 9999;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.8;
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sticky .navbar-logo{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.sticky #navbarToggler span{
  --tw-bg-opacity: 1;
  background-color: rgb(9 14 52 / var(--tw-bg-opacity));
}

.sticky #navbarCollapse li a{
  --tw-text-opacity: 1;
  color: rgb(9 14 52 / var(--tw-text-opacity));
}

.sticky #navbarCollapse li a:hover{
  --tw-text-opacity: 1;
  color: rgb(48 86 211 / var(--tw-text-opacity));
  opacity: 1;
}

#navbarCollapse li .ud-menu-scroll.active{
  opacity: 0.7;
}

.sticky #navbarCollapse li .ud-menu-scroll.active{
  --tw-text-opacity: 1;
  color: rgb(48 86 211 / var(--tw-text-opacity));
  opacity: 1;
}

.sticky .loginBtn{
  --tw-text-opacity: 1;
  color: rgb(9 14 52 / var(--tw-text-opacity));
}

.sticky .loginBtn:hover{
  --tw-text-opacity: 1;
  color: rgb(48 86 211 / var(--tw-text-opacity));
  opacity: 1;
}

.sticky .signUpBtn{
  --tw-bg-opacity: 1;
  background-color: rgb(48 86 211 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.sticky .signUpBtn:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(9 14 52 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.navbarTogglerActive > span:nth-child(1){
  top: 7px;
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.navbarTogglerActive > span:nth-child(2){
  opacity: 0;
}

.navbarTogglerActive > span:nth-child(3){
  top: -8px;
  --tw-rotate: 135deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:border-primary:hover{
  --tw-border-opacity: 1;
  border-color: rgb(48 86 211 / var(--tw-border-opacity));
}

.hover\:bg-dark:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(9 14 52 / var(--tw-bg-opacity));
}

.hover\:bg-primary:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(48 86 211 / var(--tw-bg-opacity));
}

.hover\:text-white:hover{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.hover\:text-primary:hover{
  --tw-text-opacity: 1;
  color: rgb(48 86 211 / var(--tw-text-opacity));
}

.hover\:text-blue:hover{
  --tw-text-opacity: 1;
  color: rgb(48 86 211 / var(--tw-text-opacity));
}

.hover\:text-blue:hover{
  --tw-text-opacity: 1;
  color: rgb(48 86 211 / var(--tw-text-opacity));
}

.hover\:filter-none:hover{
  filter: none;
}

.focus\:border-primary:focus{
  --tw-border-opacity: 1;
  border-color: rgb(48 86 211 / var(--tw-border-opacity));
}

.focus\:outline-none:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus\:ring-2:focus{
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.group:hover .group-hover\:rotate-6{
  --tw-rotate: 6deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:rotate-45{
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:scale-125{
  --tw-scale-x: 1.25;
  --tw-scale-y: 1.25;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:text-primary{
  --tw-text-opacity: 1;
  color: rgb(48 86 211 / var(--tw-text-opacity));
}

@media (min-width: 540px){
  .sm\:w-1\/2{
    width: 50%;
  }

  .sm\:p-8{
    padding: 2rem;
  }

  .sm\:p-12{
    padding: 3rem;
  }

  .sm\:py-12{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .sm\:px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .sm\:text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .sm\:text-lg{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .sm\:text-\[26px\]{
    font-size: 26px;
  }

  .sm\:text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .sm\:text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .sm\:text-xl{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .sm\:leading-snug{
    line-height: 1.375;
  }

  .sm\:leading-relaxed{
    line-height: 1.625;
  }
}

@media (min-width: 720px){
  .md\:mr-10{
    margin-right: 2.5rem;
  }

  .md\:mr-8{
    margin-right: 2rem;
  }

  .md\:h-\[400px\]{
    height: 400px;
  }

  .md\:w-1\/2{
    width: 50%;
  }

  .md\:w-2\/3{
    width: 66.666667%;
  }

  .md\:w-1\/3{
    width: 33.333333%;
  }

  .md\:justify-end{
    justify-content: flex-end;
  }

  .md\:p-\[60px\]{
    padding: 60px;
  }

  .md\:py-\[120px\]{
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .md\:pt-\[130px\]{
    padding-top: 130px;
  }

  .md\:pt-\[120px\]{
    padding-top: 120px;
  }

  .md\:text-\[45px\]{
    font-size: 45px;
  }

  .md\:text-xl{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .md\:text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .md\:text-\[42px\]{
    font-size: 42px;
  }

  .md\:text-\[40px\]{
    font-size: 40px;
  }

  .md\:text-\[26px\]{
    font-size: 26px;
  }

  .md\:leading-snug{
    line-height: 1.375;
  }

  .md\:leading-relaxed{
    line-height: 1.625;
  }
}

@media (min-width: 960px){
  .lg\:static{
    position: static;
  }

  .lg\:mr-0{
    margin-right: 0px;
  }

  .lg\:mt-\[60px\]{
    margin-top: 60px;
  }

  .lg\:ml-7{
    margin-left: 1.75rem;
  }

  .lg\:mb-20{
    margin-bottom: 5rem;
  }

  .lg\:mb-11{
    margin-bottom: 2.75rem;
  }

  .lg\:mb-\[150px\]{
    margin-bottom: 150px;
  }

  .lg\:mb-0{
    margin-bottom: 0px;
  }

  .lg\:block{
    display: block;
  }

  .lg\:flex{
    display: flex;
  }

  .lg\:inline-flex{
    display: inline-flex;
  }

  .lg\:hidden{
    display: none;
  }

  .lg\:h-\[500px\]{
    height: 500px;
  }

  .lg\:h-\[45\%\]{
    height: 45%;
  }

  .lg\:w-full{
    width: 100%;
  }

  .lg\:w-8\/12{
    width: 66.666667%;
  }

  .lg\:w-1{
    width: 0.25rem;
  }

  .lg\:w-4\/12{
    width: 33.333333%;
  }

  .lg\:w-2\/12{
    width: 16.666667%;
  }

  .lg\:w-3\/12{
    width: 25%;
  }

  .lg\:w-6\/12{
    width: 50%;
  }

  .lg\:w-1\/2{
    width: 50%;
  }

  .lg\:w-1\/3{
    width: 33.333333%;
  }

  .lg\:w-1\/4{
    width: 25%;
  }

  .lg\:w-7\/12{
    width: 58.333333%;
  }

  .lg\:w-5\/12{
    width: 41.666667%;
  }

  .lg\:max-w-full{
    max-width: 100%;
  }

  .lg\:bg-transparent{
    background-color: transparent;
  }

  .lg\:p-10{
    padding: 2.5rem;
  }

  .lg\:py-0{
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .lg\:px-4{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .lg\:py-6{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .lg\:px-0{
    padding-left: 0px;
    padding-right: 0px;
  }

  .lg\:py-10{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .lg\:px-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .lg\:py-12{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .lg\:px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .lg\:pt-\[160px\]{
    padding-top: 160px;
  }

  .lg\:pt-\[120px\]{
    padding-top: 120px;
  }

  .lg\:pb-20{
    padding-bottom: 5rem;
  }

  .lg\:pb-\[70px\]{
    padding-bottom: 70px;
  }

  .lg\:pb-\[90px\]{
    padding-bottom: 90px;
  }

  .lg\:pb-\[120px\]{
    padding-bottom: 120px;
  }

  .lg\:text-xl{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .lg\:text-white{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }

  .lg\:text-blue{
    --tw-text-opacity: 1;
    color: rgb(48 86 211 / var(--tw-text-opacity));
  }

  .lg\:shadow-none{
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .group:hover .lg\:group-hover\:text-white{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }

  .group:hover .lg\:group-hover\:opacity-70{
    opacity: 0.7;
  }
}

@media (min-width: 1140px){
  .xl\:ml-12{
    margin-left: 3rem;
  }

  .xl\:h-1\/2{
    height: 50%;
  }

  .xl\:w-3\/12{
    width: 25%;
  }

  .xl\:w-2\/12{
    width: 16.666667%;
  }

  .xl\:w-8\/12{
    width: 66.666667%;
  }

  .xl\:w-4\/12{
    width: 33.333333%;
  }

  .xl\:max-w-\[100px\]{
    max-width: 100px;
  }

  .xl\:p-12{
    padding: 3rem;
  }

  .xl\:px-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .xl\:text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media (min-width: 1320px){
  .\32xl\:max-w-\[120px\]{
    max-width: 120px;
  }

  .\32xl\:p-\[60px\]{
    padding: 60px;
  }
}